<nz-layout>

  <!-- header -->
  <nz-header>
    <div nz-row>
      <div nz-col nzSpan="8">
        <span>
          Hotline:
        </span>
      </div>

      <div nz-col nzSpan="8" style="margin: initial;">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>

        <!-- <button nz-button nzType="primary" (click)="open()"><i nz-icon nzType="search"></button>
        <nz-drawer [nzClosable]="false" [nzOffsetX]="childrenVisible ? 180 : 0" [nzWidth]="320" [nzVisible]="visible"
          nzTitle="Search" (nzOnClose)="close()">
          <nz-input-group style="margin:initial;" nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="input search text" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
          </ng-template>
        </nz-drawer> -->
      </div>

      <div nz-col nzSpan="8">
        <a style="position: fixed; right: 70px;" nz-dropdown [nzDropdownMenu]="menu">
          <i nz-icon nzType="user" nzTheme="outline"></i>
        </a>
        <a style="position: fixed; right: 120px;">
          <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>Tài khoản</li>
            <li nz-menu-item>Đăng ký</li>
            <li nz-menu-item>Đăng nhập</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>

    <!-- menu -->
    <ul nz-menu nzTheme="dark" nzMode="horizontal" style="text-transform: uppercase;">
      <li nz-menu-item href="/home">Trang chủ</li>
      <li nz-menu-item href="/home">Sản phẩm mới</li>
      <li nz-menu-item href="/home">Sản phẩm nổi bật</li>
      <li nz-menu-item href="/home">Trang phục</li>
      <li nz-menu-item href="/home">Liên hệ</li>
    </ul>
  </nz-header>

  <!-- body-->
  <nz-content>

    <router-outlet></router-outlet>

  </nz-content>

  <!-- footer -->
  <nz-footer>Ant Design ©2020 By Team</nz-footer>


</nz-layout>